
body{
    background: url('../imagenes/lts.png');
    background-size: contain;
}

.comentarios-ct{
    width: 100%; 
    height: 50%;
    display: flex;
  justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  text-align: center;
}
.segundo{
    width: 500px;
   
}

.titulo{
    margin-top:  30px; 
    text-align: center;
}
.btnc{
   
   margin-top: 30px;
    text-align: center;
    display: flex; 
    flex-direction: column;
    
}

.msj{

}
button{
    width: 500px;
}
 

