
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900");
body {
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px; }

.content{
    margin: 60px;
}
.subt{
    color: #000000 !important; 
}

img{border:none}
img:hover{opacity:0.75}
.img-center{display:block; margin-left:auto; margin-right:auto; text-align:center}
.img-right{display:block; margin-left:auto}
.img-left{display:block; margin-right:auto}

.single_post_content{float:left; display:inline; width:100%; margin-bottom:20px}
.single_post_content > h2{background:none repeat scroll 0 0 #151515; color:#fff; font-family:'Oswald',sans-serif; font-size:18px; font-weight:400; margin-bottom:10px; margin-left:0; margin-top:5px; padding:0; position:relative; text-align:center; text-transform:uppercase; margin-bottom:20px}
.single_post_content > h2 span{padding:4px 10px}
.single_post_content_left{float:left; display:inline; width:49%}


.single_post_content_right{float:right; display:inline; width:48%}
.right_content{float:left; display:inline; width:100%; min-height:300px}
.spost_nav{}
.spost_nav li{float:left; display:block; width:100%; margin-bottom:10px}
.spost_nav .media-left{width:100px; height:80px}
.media-left > img{height:70px; width:90px}
.spost_nav .media-body > a{font-family:"Oswald",sans-serif}
.featured_img{position:relative}
.overlay:hover{ background:none repeat scroll 0 0 rgba(0,0,0,0.4)}
.overlay{ bottom:0; display:block; left:0; position:absolute; width:100%; z-index:2; height:100%; -webkit-transition:all 0.5s; -mz-transition:all 0.5s; -ms-transition:all 0.5s; -o-transition:all 0.5s; transition:all 0.5s}
.fashion_technology_area{display:inline; float:left; width:100%}
.fashion{float:left; display:inline; width:48%}
.technology{float:right; display:inline; width:48%}
.photo_grid{position:relative; margin:0 auto; max-width:1000px; list-style:none; text-align:center}
.photograph_nav{margin-left:-11px}
.photograph_nav li{display:block; float:left; margin-left:9px; width:32%}
.photo_grid figure{position:relative; float:left; overflow:hidden; margin:10px 1%; margin-top:0; height:150px; width:100%; background:#3085a3; text-align:center; cursor:pointer}
.photo_grid figure img{position:relative; display:block; min-height:100%; max-width:100%; width:100%; height:100% opacity:0.8}
.photo_grid figure figcaption{padding:2em; color:#fff; text-transform:uppercase; font-size:1.25em; -webkit-backface-visibility:hidden; backface-visibility:hidden}
.photo_grid figure figcaption::before, .photo_grid figure figcaption::after{pointer-events:none}
.photo_grid figure figcaption{position:absolute; bottom:0; left:0; width:100%; height:100%}
.photo_grid figure h2{word-spacing:-0.15em; font-weight:300}
.photo_grid figure h2 span{font-weight:800}
.photo_grid figure h2, .photo_grid figure a{margin:0}
.photo_grid figcaption a{color:#fff; font-size:68.5%; letter-spacing:1px; display:block; margin-top:7px}

.single_sidebar{float:left; display:inline; width:100%; margin-bottom:20px}
.single_sidebar > h2{background:none repeat scroll 0 0 #000000; color:#fff; font-family:"Oswald",sans-serif; font-size:18px; font-weight:400; margin-bottom:10px; margin-left:0; margin-top:5px; padding:0; position:relative; text-align:center;}
.single_sidebar > h2 span{padding:4px 10px}
.cat-item a{background:none repeat scroll 0 0 #e4e4e4; color:#888; display:block; float:left; border-bottom:none !important; font-size:13px; line-height:12px; margin:0 2px 2px 0; padding:12px 17px; -webkit-transition:all 0.5s; -mz-transition:all 0.5s; -ms-transition:all 0.5s; -o-transition:all 0.5s; transition:all 0.5s}
.cat-item a:hover{color:#fff; text-decoration:none !important}
.tab-content{margin-top:10px}
.nav-tabs{background:none repeat scroll 0 0 #333; border-bottom:none}
.nav-tabs > li{margin-bottom:0}
.nav-tabs > li > a{margin-right:0; color:#fff; font-size:15px; border-radius:0; border:none; font-family:"Oswald",sans-serif; -webkit-transition:all 0.5s; -mz-transition:all 0.5s; -ms-transition:all 0.5s; -o-transition:all 0.5s; transition:all 0.5s}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus{color:#fff !important; border:none}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{border-width:0; border-color:#ddd #ddd transparent; color:#fff}
.vide_area{float:left; display:inline; width:100%}
.sideAdd{display:block; float:left; height:250px; width:100%; margin-top:10px}
.sideAdd > img{width:100%; height:100%}
.single_sidebar ul li a{border-bottom:1px solid #333; display:block}
.single_sidebar .spost_nav li a{border-bottom:none; float:left}

.single_page{float:left; display:inline; width:100%}
.single_page > h1{color:#333; font-family:Oswald,arial,Georgia,serif; font-size:30px; line-height:1.4em; margin:10px 0 -10px; padding:0 0 4px; text-transform:uppercase}
.post_commentbox{display:inline; float:left; width:100%; border-top:1px solid #ddd; border-bottom:1px solid #ddd; margin-top:20px; padding:5px 0px}
.post_commentbox a, .post_commentbox span{color:#798992; font-size:11px; margin-right:5px}
.post_commentbox a > i, .post_commentbox span > i{margin-right:5px}
.breadcrumb{background-color:#303030; border-radius:0}
.breadcrumb li a{color:#fff}
.single_page_content{display:inline; float:left; padding-top:20px; width:100%; border-bottom:1px solid #ddd; padding-bottom:20px}
.single_page_content > img{max-width:100%; width:320px; height:213px; margin-bottom:15px}
.single_page_content ul{position:relative; padding-left:25px}
.single_page_content ul li{line-height:25px}
.single_page_content ul li:before{content:""; height:5px; left:5px; position:absolute; width:9px; margin-top:8px}
.single_page_content ul li:hover{opacity:0.75}
.single_page_content h2{line-height:35px}
.single_page_content h3{line-height:30px}
.single_page_content h4{line-height:25px}
.single_page_content h4{line-height:20px}
.social_link{display:inline; float:left; margin-bottom:25px; margin-top:20px; width:100%}
.sociallink_nav{text-align:center}
.sociallink_nav li{display:inline-block}
.sociallink_nav li a{color:#fff; display:inline-block; font-size:17px; padding:8px 12px; margin:0 3px; -webkit-transition:all 0.5s; -o-transition:all 0.5s; transition:all 0.5s}
.sociallink_nav li a:hover{-webkit-transform:rotate(50deg); -moz-transform:rotate(50deg); -ms-transform:rotate(50deg); -os-transform:rotate(50deg); transform:rotate(50deg)}
.sociallink_nav li a:hover i{-webkit-transform:rotate(-50deg); -moz-transform:rotate(-50deg); -ms-transform:rotate(-50deg); -os-transform:rotate(-50deg); transform:rotate(-50deg)}

.related_post{display:inline; float:left; margin-top:0; width:100%; margin-bottom:20px}
.related_post > h2{border-bottom:1px solid #e3e3e3; padding-bottom:5px}
.related_post > h2 i{font-size:25px}
.related_post .spost_nav li{width:32%; margin-right:10px}
.related_post .spost_nav li:last-child{margin-right:0}
.nav-slit a{position:fixed; top:50%; display:block; outline:none; text-align:left; z-index:1000; -webkit-transform:translateY(-50%); transform:translateY(-50%)}
.ftc{
    width: 100% !important;
}